---
import Layout from "../layouts/main.astro";
import Menu from "../components/Menu.astro";
import { loadMenu } from "../utils/loadMenu";

const dockside = await loadMenu("dockside");
const upstairs = await loadMenu("upstairs");
---

<Layout>
    <div class="pivot">
        <Menu menu={dockside} url={Astro.request.canonicalURL.href} />
        <Menu menu={upstairs} url={Astro.request.canonicalURL.href} />
    </div>
</Layout>

<script>
    const originalTitle = document.title;
    function updatePageTitle(title) {
        document.title = `${title} | ${originalTitle}`;
    }

    const pivot = document.querySelector(".pivot");
        pivot.addEventListener("changed", function (event) {
        updatePageTitle(event.detail.title);
    });

    new window.Pivot({});
</script>